/* html {
    width: 100vh;
    height: 100vh;
} */


body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
    
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

.row>* {
    margin: 0;
    justify-content: center;
    padding: 0;
}

.col {
    padding: 0;
    max-width: 25%;
}

.container {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.card-img-top {
    width: 60px;
    margin: 15px;
}
.card-title {
    padding: 15px 0;
}
.card-body {
    padding: 2rem 4rem;
}
.sedansection {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suvsection {
background-color:hsl(184, 100%, 22%);
}

.luxurysection {
background-color:hsl(179, 100%, 13%);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


.btn {
    border-radius: 20px;
    margin-top: 5rem;
    padding: 10px 20px;
}

#sedanbtn {
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
}

#suvbtn {
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
}

#luxbtn {
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
}

#sedanbtn:hover {
    background-color: hsl(31, 77%, 52%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

#suvbtn:hover {
    background-color: hsl(179, 100%, 22%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

#luxbtn:hover {
    background-color: hsl(179, 100%, 13%);
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}